@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 13px;
}
.bcenter {
  width: 1000px;
  margin: 0 auto;
}
@font-face {
  font-family: 'my_font';
  src: url('../fonts/icomoon.eot') format('eot'), url('../fonts/icomoon.svg') format('svg'), url('../fonts/icomoon.ttf') format('ttf'), url('../fonts/icomoon.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
header aside {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px 0 5px;
}
header aside a {
  width: 75px;
  margin-left: 15px;
}
header aside a img {
  width: 100%;
}
header aside > div {
  margin-top: 20px;
}
header aside > div span {
  color: blue;
}
header aside > div span:before {
  content: '\f095';
  position: absolute;
  font-family: 'my_font';
  color: #DD000C;
  font-size: 35px;
  transform: rotate(45deg);
  margin-left: -25px;
  margin-top: 3px;
}
header aside > div b {
  color: #DD000C;
  font-size: 22px;
}
header nav {
  background-color: #2B2B2B;
}
header nav p {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
header nav p a:first-child {
  border-left: none;
}
header nav p a:last-child {
  border-right: none;
}
header nav p a,
header nav p a:visited {
  padding: 10px 35px;
  border-right: 1px solid #585858;
  border-left: 1px solid #140104;
  color: white;
  text-decoration: none;
}
header nav p a:hover,
header nav p a:active {
  background-color: #DD000C;
}
header div.img {
  width: 1000px;
  margin: 0 auto;
  height: 249px;
  background: url("../img/index3.PNG") no-repeat;
}
footer {
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  border-top: 3px solid #DD000C;
}
footer span {
  margin: 0 10px;
}
main {
  background-color: white;
  box-shadow: 0 3px 8px 2px #a6a6a6;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
main a,
main a:link {
  text-decoration: none;
  color: #010101;
  line-height: 22px;
}
main a:hover,
main a:active {
  text-decoration: underline;
  color: #076CE0 ;
}
main img {
  width: 50px;
}
main header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}
main header h4 {
  box-shadow: 1px 1px 4px 1px #868686;
  padding: 5px 20px;
  letter-spacing: 2px;
  background: url("../img/bg4.PNG") no-repeat;
}
main header a {
  padding: 5px 20px;
  font-size: 12px;
  color: #DD000C;
}
main header a:after {
  position: absolute;
  content: '\f013';
  color: #DD000C;
  font-family: 'my_font';
  margin-top: 1px;
  margin-left: 2px;
}
main div.left {
  flex: 3;
}
main div.left div.up {
  background-color: #F4ECD7;
  margin-bottom: 10px;
}
main div.left div.up > a {
  display: block;
  padding-left: 25px;
}
main div.left div.up > a:before {
  position: absolute;
  content: '';
  height: 4px;
  width: 4px;
  background-color: #ED1C24;
  margin-left: -10px;
  margin-top: 9px;
}
main div.left div.up > a:last-of-type {
  padding-bottom: 10px;
}
main div.left div.down {
  background-color: #F4ECD7;
}
main div.left div.down div.down1 {
  padding: 5px;
  display: flex;
  border-bottom: 1px dashed darkgray;
  text-align: justify;
  line-height: 18px;
}
main div.left div.down div.down1 h5 {
  font-size: 13px;
  color: #DD000C;
}
main div.left div.down div.down1 a {
  font-size: 12px;
  color: #FF7F27;
}
main div.left div.down div.down1 a {
  flex: 1;
}
main div.left div.down div.down1 a img {
  width: 100%;
  height: 90px;
}
main div.left div.down div.down1 div.right {
  flex: 1;
}
main div.left div.down div.down2 {
  background: url("../img/di2.jpg") no-repeat 50% 30%;
  height: 80px;
}
main div.right {
  flex: 7.5;
  margin-left: 10px;
}
main div.right div.up {
  display: flex;
}
main div.right div.up .left1 {
  flex: 4.5;
  margin-right: 10px;
}
main div.right div.up .left1 a {
  width: 100%;
}
main div.right div.up .left1 a img {
  width: 100%;
  height: 224px;
}
main div.right div.up .right1 {
  flex: 3;
  background-color: #F4ECD7;
  margin-bottom: 10px;
}
main div.right div.up .right1 h4 {
  padding: 5px 0;
  letter-spacing: 2px;
  text-align: center;
  background: url("../img/bg5.PNG");
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 1px #868686;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
main div.right div.up .right1 a {
  display: block;
  padding-left: 25px;
}
main div.right div.up .right1 a:before {
  position: absolute;
  content: '';
  height: 4px;
  width: 4px;
  background-color: #ED1C24;
  margin-left: -10px;
  margin-top: 9px;
}
main div.right div.up .right1 a:first-of-type {
  margin-top: -6px;
}
main div.right div.up .right1 span {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 0 10px 2px 0;
  font-size: 12px;
  margin-top: -2px;
}
main div.right div.mid {
  background-color: #F4ECD7;
}
main div.right div.mid > div {
  display: flex;
}
main div.right div.mid > div > a {
  flex: 6.7;
  width: 100%;
  padding: 0 10px 30px 10px;
  box-sizing: border-box;
}
main div.right div.mid > div > a img {
  width: 100%;
  height: 140px;
}
main div.right div.mid > div .mid,
main div.right div.mid > div .right {
  flex: 4;
  margin-right: 5px;
  margin-left: 15px;
  box-sizing: border-box;
}
main div.right div.mid > div .mid h5,
main div.right div.mid > div .right h5 {
  background: url("../img/bg6.PNG");
  padding: 5px 10px;
  color: #DD000C;
  font-weight: bold;
  font-size: 13px;
}
main div.right div.mid > div .mid a,
main div.right div.mid > div .right a {
  display: block;
  margin-left: 25px;
}
main div.right div.mid > div .mid a:before,
main div.right div.mid > div .right a:before {
  position: absolute;
  content: '';
  height: 4px;
  width: 4px;
  background-color: #ED1C24;
  margin-left: -10px;
  margin-top: 9px;
}
main div.right div.mid > div .mid a:last-of-type,
main div.right div.mid > div .right a:last-of-type {
  padding-bottom: 10px;
}
main div.right div.down {
  margin-top: 10px;
  background-color: #F4ECD7;
}
main div.right div.down > div {
  display: flex;
}
main div.right div.down > div a {
  width: calc(33.3% - 4px);
  padding: 0 10px;
  text-align: center;
}
main div.right div.down > div a img {
  width: 100%;
  height: 150px;
}
