@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #F0F0F0;
}
.bcenter {
  margin: 0 auto;
  width: 1000px;
}
main {
  margin: 0 auto;
  width: 1000px;
}
main div.current {
  padding: 20px 0 17px 5px;
  font-size: 13px;
}
main div.current a,
main div.current a:visited {
  text-decoration: none;
  color: #545454;
}
main div.current a:first-child,
main div.current a:visited:first-child {
  color: #535353;
  font-weight: bold;
  font-size: 14px;
}
main div.up {
  padding: 0 10px 0 20px;
  display: flex;
  border: 1px solid #CBCBCB;
  background-color: #FFFFFF;
}
main div.up aside {
  display: flex;
  width: 310px;
  padding: 340px 20px 195px 0;
  border-right: 1px solid #CBCBCB;
  position: relative;
}
main div.up aside dl {
  flex: 1;
  border: 1px solid #CBCBCB;
  border-right: none;
}
main div.up aside dl:last-child {
  border-right: 1px solid #CBCBCB;
}
main div.up aside dl.active {
  border-color: #3180E7;
  border-right: 1px solid #3180E7;
}
main div.up aside dl dt {
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.up aside dl dd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 340px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.up aside dl:hover dd {
  z-index: 100;
  background-color: white;
}
main div.up section {
  flex: 1;
  padding: 25px 0 25px 10px;
}
main div.up section h4 {
  padding-left: 16px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #4A4A4A;
}
main div.up section p {
  margin-left: 16px;
  line-height: 30px;
  font-size: 14px;
  color: #6A6A6A;
}
main div.up section p:first-of-type span {
  font-size: 20px;
  margin-left: 20px;
  color: #D40007;
}
main div.up section p:first-of-type span:before {
  font-size: 12px;
  content: '￥';
}
main div.up section p:nth-of-type(2) span {
  padding-left: 100px;
  background: url("../img/icon11.jpg") no-repeat 40px center;
}
main div.up section p:nth-of-type(3) {
  font-weight: bold;
  padding: 15px 0 15px 10px;
}
main div.up section p:nth-of-type(3) span {
  color: #0077CB;
}
main div.up section p:nth-of-type(4) {
  margin-top: 52px;
  color: #989898;
  font-size: 12px;
}
main div.up section div.op {
  padding: 20px 15px;
  line-height: 45px;
  font-size: 14px;
  background-color: #F2F2F2;
}
main div.up section div.op label {
  display: block;
  color: #666666;
}
main div.up section div.op label select,
main div.up section div.op label button,
main div.up section div.op label span {
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
}
main div.up section div.op label select {
  margin: 0 10px 0 46px;
}
main div.up section div.op label button {
  margin-left: 18px;
  padding: 0 20px;
}
main div.up section div.op label:nth-child(3) {
  display: flex;
  width: 530px;
  margin-left: 4px;
}
main div.up section div.op label:nth-child(4) span:first-child {
  margin-left: 46px;
  padding: 3px 3px;
}
main div.up section div.op label:nth-child(4) span:nth-child(2) {
  padding: 3px 25px;
  margin-left: -5px;
}
main div.up section div.op label:nth-child(4) span:nth-child(3) {
  padding: 3px 1px;
  margin-left: -5px;
  margin-right: 5px;
}
main div.up section div.op label:nth-child(4) span:nth-child(4) {
  border: none;
  font-size: 15px;
  background-color: transparent;
}
main div.up section div.op label:nth-child(4) span:nth-child(4) b {
  color: #F87509;
  font-size: 14px;
}
main div.up section div.add {
  margin-top: 30px;
  margin-left: 92px;
}
main div.up section div.add span {
  padding: 13px 20px;
  font-family: 'myfont';
  background-color: #F98700;
  font-size: 20px;
  color: white;
  margin-right: 80px;
}
main div.up section div.add span:first-child:after {
  position: absolute;
  content: '';
  height: 92px;
  width: 1px;
  background-color: #E6E6E6;
  margin-left: 60px;
  margin-top: -30px;
}
main div.down {
  margin-top: 17px;
  display: flex;
}
main div.down aside {
  width: 190px;
  margin-right: 25px;
  margin-bottom: 35%;
}
main div.down aside .bottom {
  margin-top: 10px;
  margin-bottom: 33px;
}
main div.down aside .top,
main div.down aside .bottom {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-top: 2px solid #1F85D0;
}
main div.down aside .top header,
main div.down aside .bottom header {
  background-color: #F3F3F3;
  padding: 10px 15px;
  color: #2F2F2F;
  font-size: 15px;
  font-weight: bold;
  border-bottom: #CCCCCC 1px solid;
}
main div.down aside .top figure,
main div.down aside .bottom figure {
  padding: 16px 20px 16px 20px;
  font-size: 12px;
  line-height: 18px;
}
main div.down aside .top figure a,
main div.down aside .bottom figure a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
main div.down aside .top figure p,
main div.down aside .bottom figure p {
  color: #989898;
}
main div.down aside .top figure span,
main div.down aside .bottom figure span {
  font-weight: 600;
  color: #E04040;
}
main div.down section {
  flex: 1;
}
main div.down section div.top {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
}
main div.down section div.top dl {
  flex: 1;
}
main div.down section div.top dl dt {
  line-height: 40px;
  background-color: #eee;
  text-align: center;
  font-family: 'myfont';
}
main div.down section div.top dl dd {
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  border-top: none;
  display: none;
}
main div.down section div.top dl.active dt {
  background-color: #0479C9;
  color: white;
}
main div.down section div.top dl.active dd {
  display: block;
}
main div.down section div.top dl:first-child dd .one {
  margin-top: 15px;
  border-top: #CCCCCC 1px solid!important;
}
main div.down section div.top dl:first-child dd .oneone {
  border: #CCCCCC 1px solid;
  border-top: none;
  background-color: white;
  text-align: center;
  padding: 19px 19px 50px 19px;
}
main div.down section div.top dl:first-child dd .oneone img {
  margin: 30px 0;
}
main div.down section div.top dl:first-child dd .oneone p {
  font-size: 13px;
  color: #686868;
  margin: 25px 0;
  line-height: 23px;
  text-align: justify;
}
main div.down section div.top dl:first-child dd .oneone h4 {
  text-align: left;
  border-bottom: #D7D7D7 2px solid;
  padding: 7px 0;
  color: #2458A3;
  margin-top: 15px;
}
main div.down section div.top dl:first-child dd .oneone h4:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #2458A3;
  position: absolute;
  margin-top: 28px;
}
main div.down section div.top dl:first-child dd .oneone h4 span {
  font-size: 12px;
  color: #A9A9A9;
  margin-left: 7px;
}
main div.down section div.top dl:last-child dd .one,
main div.down section div.top dl:first-child dd .one {
  padding: 10px;
  border: #CCCCCC 1px solid;
  border-top: none;
  background-color: white;
}
main div.down section div.top dl:last-child dd .one h4,
main div.down section div.top dl:first-child dd .one h4 {
  font-size: 15px;
  font-weight: bold;
  color: #666666;
}
main div.down section div.top dl:last-child dd .one div.com,
main div.down section div.top dl:first-child dd .one div.com {
  display: flex;
  padding: 35px 0;
}
main div.down section div.top dl:last-child dd .one div.com b,
main div.down section div.top dl:first-child dd .one div.com b {
  width: 100px;
  font-size: 50px;
  font-weight: 100;
  color: #FF8901;
  margin-top: -13px;
}
main div.down section div.top dl:last-child dd .one div.com b i,
main div.down section div.top dl:first-child dd .one div.com b i {
  font-size: 19px;
  color: #696677;
  font-style: normal;
  margin-left: -14px;
}
main div.down section div.top dl:last-child dd .one div.com p,
main div.down section div.top dl:first-child dd .one div.com p {
  flex: 1;
  font-size: 12px;
  color: #69677F;
}
main div.down section div.top dl:last-child dd .one div.com p span,
main div.down section div.top dl:first-child dd .one div.com p span {
  padding: 0 23px;
  background-color: #BDBDBD;
  color: white;
}
main div.down section div.top dl:last-child dd .one div.com p span:last-of-type,
main div.down section div.top dl:first-child dd .one div.com p span:last-of-type {
  padding-right: 73px;
}
main div.down section div.top dl:last-child dd .one div.com p span:last-of-type:before,
main div.down section div.top dl:first-child dd .one div.com p span:last-of-type:before {
  content: '4.7';
  position: absolute;
  margin-top: -22px;
  background-color: #7B7B7B;
  padding: 0 5px;
  margin-left: 78px;
}
main div.down section div.top dl:last-child dd .one div.com p span:last-of-type:after,
main div.down section div.top dl:first-child dd .one div.com p span:last-of-type:after {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-top-color: #7B7B7B;
  margin-top: -7px;
  margin-left: 38px;
}
main div.down section div.top dl:last-child dd .one header,
main div.down section div.top dl:first-child dd .one header {
  padding: 10px 0 10px 0;
  display: flex;
  font-size: 13px;
  background-color: #F2F2F2;
  margin-left: -10px;
  margin-right: -10px;
}
main div.down section div.top dl:last-child dd .one header div:first-child,
main div.down section div.top dl:first-child dd .one header div:first-child {
  flex: 1;
}
main div.down section div.top dl:last-child dd .one header div:first-child span,
main div.down section div.top dl:first-child dd .one header div:first-child span {
  margin-right: 45px;
}
main div.down section div.top dl:last-child dd .one header div:first-child span:first-of-type,
main div.down section div.top dl:first-child dd .one header div:first-child span:first-of-type {
  font-weight: bold;
  color: #327FE9;
  margin-left: 20px;
}
main div.down section div.top dl:last-child dd .one header div:first-child span:first-of-type:after,
main div.down section div.top dl:first-child dd .one header div:first-child span:first-of-type:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 40px;
  background-color: #327FE9;
  margin-left: -33px;
  margin-top: 25px;
}
main div.down section div.top dl:last-child dd .one header div:last-child,
main div.down section div.top dl:first-child dd .one header div:last-child {
  width: 250px;
  text-align: right;
}
main div.down section div.top dl:last-child dd .one header div:last-child span,
main div.down section div.top dl:first-child dd .one header div:last-child span {
  border: 1px  solid #CDCDCD;
  border-bottom: none;
  padding: 3px 6px;
  font-family: 'myfont';
}
main div.down section div.top dl:last-child dd .one header div:last-child span:last-of-type,
main div.down section div.top dl:first-child dd .one header div:last-child span:last-of-type {
  margin-right: 6px;
  margin-left: -4px;
  border-right: none;
}
main div.down section div.top dl:last-child dd .one header div:last-child span:last-of-type:before,
main div.down section div.top dl:first-child dd .one header div:last-child span:last-of-type:before {
  content: 'NEW';
  background-color: #DF0000;
  color: white;
  position: absolute;
  font-size: 12px;
  margin-top: -22px;
  margin-left: 38px;
}
main div.down section div.top dl:last-child dd .one div.comrow,
main div.down section div.top dl:first-child dd .one div.comrow {
  display: flex;
  font-size: 13px;
  padding: 17px 17px 18px 26px;
}
main div.down section div.top dl:last-child dd .one div.comrow a,
main div.down section div.top dl:first-child dd .one div.comrow a {
  flex: 1;
  text-decoration: none;
  color: #797979;
  text-align: center;
  line-height: 19px;
}
main div.down section div.top dl:last-child dd .one div.comrow .mid,
main div.down section div.top dl:first-child dd .one div.comrow .mid {
  flex: 4;
  color: #797979;
  line-height: 27px;
}
main div.down section div.top dl:last-child dd .one div.comrow .mid p:first-of-type,
main div.down section div.top dl:first-child dd .one div.comrow .mid p:first-of-type {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
main div.down section div.top dl:last-child dd .one div.comrow .mid p:first-of-type span,
main div.down section div.top dl:first-child dd .one div.comrow .mid p:first-of-type span {
  color: #F9A03C;
  font-family: 'myfont';
}
main div.down section div.top dl:last-child dd .one div.comrow .mid P:last-of-type,
main div.down section div.top dl:first-child dd .one div.comrow .mid P:last-of-type {
  color: #0B5B98;
  font-size: 12px;
}
main div.down section div.top dl:last-child dd .one div.comrow span,
main div.down section div.top dl:first-child dd .one div.comrow span {
  flex: 1;
  text-align: right;
  font-size: 12px;
  color: #A9A9A9;
}
main div.down section div.top dl:last-child dd .one > p,
main div.down section div.top dl:first-child dd .one > p {
  padding-bottom: 20px;
  font-size: 12px;
}
main div.down section div.top dl:last-child dd .one > p span,
main div.down section div.top dl:first-child dd .one > p span {
  border: 1px solid #D3D3D3;
  padding: 5px 10px;
  margin-right: 3px;
}
main div.down section div.top dl:last-child dd .one > p span:first-of-type,
main div.down section div.top dl:first-child dd .one > p span:first-of-type {
  margin-left: 245px;
  color: #D8D8D8;
}
main div.down section div.top dl:last-child dd .one > p span:nth-of-type(2),
main div.down section div.top dl:first-child dd .one > p span:nth-of-type(2) {
  background-color: #E9E9E9;
  color: #FE0000 ;
}
main div.down section div.top dl:last-child dd .one > p span:nth-of-type(7),
main div.down section div.top dl:first-child dd .one > p span:nth-of-type(7),
main div.down section div.top dl:last-child dd .one > p span:nth-of-type(8),
main div.down section div.top dl:first-child dd .one > p span:nth-of-type(8) {
  color: #0563A1;
}
main div.down section div.top dl:last-child dd .one > p span:last-of-type,
main div.down section div.top dl:first-child dd .one > p span:last-of-type {
  background-color: #EAEAEA;
}
main div.down section div.top dl:last-child dd .two,
main div.down section div.top dl:first-child dd .two {
  margin-top: 16px;
  background-color: white;
  font-size: 13px;
  color: #747474;
}
main div.down section div.top dl:last-child dd .two header,
main div.down section div.top dl:first-child dd .two header {
  display: flex;
}
main div.down section div.top dl:last-child dd .two header a a,
main div.down section div.top dl:first-child dd .two header a a {
  text-decoration: none;
}
main div.down section div.top dl:last-child dd .two header a:first-child,
main div.down section div.top dl:first-child dd .two header a:first-child {
  padding: 15px 15px 5px 20px;
  border: 1px solid #0887BA;
  font-weight: bold;
  font-size: 16px;
  color: #056BB6;
  border-bottom: none;
}
main div.down section div.top dl:last-child dd .two header a:last-child,
main div.down section div.top dl:first-child dd .two header a:last-child {
  text-align: right;
  flex: 1;
  padding: 13px 26px 10px 0;
  font-size: 13px;
  color: #035CA0;
  border-bottom: 1px solid #0887BA;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(1),
main div.down section div.top dl:first-child dd .two > p:nth-of-type(1) {
  margin: 10px 10px 10px 20px;
  padding: 10px 15px 10px 20px;
  background-color: #F3F3F3;
  line-height: 22px;
}
main div.down section div.top dl:last-child dd .two .downrow,
main div.down section div.top dl:first-child dd .two .downrow {
  display: flex;
  padding: 25px 30px 0 60px;
}
main div.down section div.top dl:last-child dd .two .downrow .left,
main div.down section div.top dl:first-child dd .two .downrow .left {
  text-align: center;
  margin-right: 30px;
}
main div.down section div.top dl:last-child dd .two .downrow .left p,
main div.down section div.top dl:first-child dd .two .downrow .left p {
  line-height: 20px;
}
main div.down section div.top dl:last-child dd .two .downrow .right,
main div.down section div.top dl:first-child dd .two .downrow .right {
  flex: 1;
  line-height: 30px;
}
main div.down section div.top dl:last-child dd .two .downrow .right p:first-child,
main div.down section div.top dl:first-child dd .two .downrow .right p:first-child {
  display: flex;
  justify-content: space-between;
}
main div.down section div.top dl:last-child dd .two .downrow .right p:first-child span:first-child,
main div.down section div.top dl:first-child dd .two .downrow .right p:first-child span:first-child {
  font-weight: bold;
}
main div.down section div.top dl:last-child dd .two .downrow .right p:first-child span:last-child,
main div.down section div.top dl:first-child dd .two .downrow .right p:first-child span:last-child {
  font-size: 12px;
  color: #ADADAD;
}
main div.down section div.top dl:last-child dd .two .downrow .right P:nth-of-type(3),
main div.down section div.top dl:first-child dd .two .downrow .right P:nth-of-type(3) {
  padding: 18px 0 18px 30px;
  background-color: #F1F1F1;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(2),
main div.down section div.top dl:first-child dd .two > p:nth-of-type(2) {
  padding: 30px 56px  20px  450px;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(2) span,
main div.down section div.top dl:first-child dd .two > p:nth-of-type(2) span {
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 3px;
  border: 1px solid #D2D2D2;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(2) span:first-of-type,
main div.down section div.top dl:first-child dd .two > p:nth-of-type(2) span:first-of-type {
  color: #DADADA;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(2) span:nth-of-type(2),
main div.down section div.top dl:first-child dd .two > p:nth-of-type(2) span:nth-of-type(2) {
  background-color: #E8E8E8;
  color: #DB5A55 ;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(2) span:nth-of-type(3),
main div.down section div.top dl:first-child dd .two > p:nth-of-type(2) span:nth-of-type(3) {
  color: #1681B7;
}
main div.down section div.top dl:last-child dd .two > p:nth-of-type(2) span:last-of-type,
main div.down section div.top dl:first-child dd .two > p:nth-of-type(2) span:last-of-type {
  background-color: #F0F0F0;
  padding: 2px 5px;
  border-color: #949494;
  border-radius: 3px;
}
main div.down section div.down header {
  display: flex;
}
main div.down section div.down header a:first-child {
  width: 17%;
  font-size: 17px;
  font-weight: 500;
}
